.footerMain{
    position: relative;
    bottom: 0;
    background: #FAFBFC;
    height: 80vh;
    display: flex;
}

.footerMain ul{
list-style-type: none;
}

.footerMain ul li{
    margin-left: 0;
    color: #696b79;
    font-size: 15px;
}

.footerMain ul :first-child{
    margin-bottom: 10px;
    color: #282c3f;
    font-weight: 700;
    font-size: 12px;
}

.footerMain .links
{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}
.footerMain .links div{
    width: 270px;
    height: 170px;
}


.sm-icons img {
    height: 30px;
}

.return{
    width: 321px;
    margin-left: 100px;
}
.return div{
    margin-top: 10px;
}

.return img{
    width: 50px;
    margin-right: 20px;
}

.return .primText{
    color: #282c3f;
    font-weight: 700;
    font-size: 15px
  }

  .return .secText{
      color: #696b79;
      font-size: 14px;
  }